@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"),
    url(./Assets/fonts/Product-Sans-Regular.ttf) format("truetype");
  src: local("Product Sans"),
    url(./Assets/fonts/Product-Sans-Italic.ttf) format("truetype");
}
