@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"),
    url("./Assets/fonts/Product-Sans-Regular.ttf") format("truetype")
      /* Safari, Android, iOS */,
    url("./Assets/fonts/product_sans_regular-webfont.woff") format("woff")
      /* Pretty Modern Browsers */,
    url("./Assets/fonts/product_sans_regular-webfont.woff2") format("woff2"); /* Super Modern Browsers */
}

.app {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* :: Open CSS :: */
.main.open {
  margin-left: 200px !important;
  overflow: hidden;
}

.animated-icon1.open {
  top: 21px !important;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon2.open {
  opacity: 0;
  left: -60px;
}

.animated-icon3.open {
  top: 21px !important;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
